body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --heading-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --body-font: "Trebuchet MS", Helvetica, sans-serif;
    --accent: #95c623;
    --link-visited: #0e4749;
    --secondary: #002626;
    --background: #fff;
    --sub-accent: #efe7da;
    --orange: #e55812;
}