main {
    position: absolute;
    left: 200px;
    padding-left: 20px;
    font-family: var(--body-font);
    width: calc(100% - 220px);
}

main h1.content-heading {
    font-family: var(--heading-font);
}

main h2 {
    color: var(--dark-grey);
}

main hr {
    width: 100%;
    border-color: var(--accent);
}

/* Code Section */
main h3.code-heading {
    width: 100%;
    background-color: var(--accent);
    border: 2px solid black;
    padding: 5px;
}

main .code-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .code-card {
    background-color: #222;
    color: #ddd;
    padding: 5px;
    border: 2px solid var(--accent);
}

main .code-card.xl {
    height: 400px;
    width: 100%;
}

main .code-card.lg {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}
main .code-card.sm {
    height: 180px;
    width: 180px;
}

main .flex-column {
    display: flex;
    flex-direction: column;
}

main code span {
    margin: 2.5px 0;
}

main .tab {
    margin-left: 1.15em;
}
main .tab.two {
    margin-left: 2.15em;
}
main .tab.three {
    margin-left: 3.15em;
}