@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

nav {
    position: fixed;
    top: 0;
    width: 200px;
    /* height: calc(100% - 55px); */
    height: 100%;
    font-family: 'Baloo Chettan', cursive;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #111;
    z-index: -1;
}

nav h2.nav-heading {
    color: black;
    margin-bottom: 5px;
    padding-left: 10px;
}
nav a {
    padding-left: 20px;
    color: #777;
    text-decoration: none;
}
nav a:hover {
    background-color: #ccc;
}

nav a.active {
    border-right: 5px solid hotpink;
}