body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --heading-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --body-font: "Trebuchet MS", Helvetica, sans-serif;
    --accent: #e71d36;
    --link-visited: #2ec4b6;
    --secondary: #011627;
    --background: #fff;
    --sub-accent: #fdfffc;
    --orange: #ff9f1c;
}