body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --heading-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --body-font: "Trebuchet MS", Helvetica, sans-serif;
    --accent: #69306d;
    --link-visited: #2ec4b6;
    --secondary: #0e103d;
    --background: #fff;
    --sub-accent: #e7e7e7;
    --outline: #9f7e69;
}